@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@keyframes rainbow {
  0%, 100% { color: #FF5733; } /* Orange */
  10% { color: #FF8F33; } /* Light Orange */
  20% { color: #4FFF33; } /* Lime */
  30% { color: #99FF33; } /* Light Lime */
  40% { color: #33D4FF; } /* Light Blue */
  50% { color: #338CFF; } /* Blue */
  60% { color: #FF33F6; } /* Magenta */
  70% { color: #FF33A8; } /* Light Magenta */
  80% { color: #FFB533; } /* Gold */
  90% { color: #FF8533; } /* Light Gold */
}

.rainbow-text:hover {
  animation: rainbow 2s linear infinite;
  transform: translateZ(0);
}
